.move-window {
  position: absolute;
  bottom: 85px;
  left: 15px;

  width: 30%;
  height: 30%;

  z-index: +200;

  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

@media (min-width: 1351px) {
  .move-window {
    width: 20%;
    height: 20%;
  }
}